/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  
#left {
  float: left;
  width: 32em;
  height: 10000px;
}

/*#right {
  float: left;
}*/

/* DiceComponent's private CSS styles */
 .dice .selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .dice {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 30em;
  }
  .dice li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .dice li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .dice li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .dice .text {
    position: relative;
    top: -3px;
  }
  .dice .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .dice .buttons {
    float: right;
  }

  /* DiceComponent's private CSS styles */
 .detail .selected {
  background-color: #CFD8DC !important;
  color: white;
}
.detail {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 30em;
}

.detail input {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 85%;
}

.detail label {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.detail li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.detail li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.detail li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.detail .text {
  position: relative;
  top: -3px;
}
.detail .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}